<div class="main-home">
    <span *ngFor="let i of slotData">

        <div class="card">
            <div class="card-title">
                <h1>Date</h1>
                <h5>{{i.date}}</h5>
            </div>
            <div class="card-content">
                <h3>Slote Time</h3>
                <h5>
                    <span>Start Time</span>
                    <p>{{i.start_time}}</p>
                </h5>
                <h5>
                    <span>End Time</span>
                    <p>{{i.end_time}}</p>
                </h5>
            </div>
            <div>
                <a routerLink="category">More Info</a>
            </div>
        </div>
    </span>
    <!-- <div class="card">
        <div class="card-title">
            <h1>Date</h1>
            <h5>12/09/23</h5>
        </div>
        <div class="card-content">
            <h3>Slote Time</h3>
            <h5>
                <span>Start Time</span>
                <p>11:30:00</p>
            </h5>
            <h5>
                <span>End Time</span>
                <p>11:30:00</p>
            </h5>
        </div>
        <div>
            <a routerLink="category">More Info</a>
        </div>
    </div> -->
</div>